extends layout
block content
  .container
      h2 
        p
         | El tiempo de dbenmir
      br
      br
      .row
        .col-md-3
          form(method="post", action="get_weather")
            .form-group
              label.sr-only(for="city") Nombre del sitio
              input.form-control( name="city" type="text" placeholder="Enter City Name (for ex: Conxo)" required='required')
            button.btn.btn-success(type="submit") El tiempo
      if error
        br
        .alert.alert-danger #{error}
      if weather
        .row
          .col-md-5
            p
            br
            .panel.panel-primary
              .panel-heading El tiempo en: #{weather.name}, #{weather.sys.country}
              .panel-body
               p Calor o frio actual = #{weather.main.temp} !{units}, #{weather.weather[0].description}
               p Mojadez = #{weather.main.humidity} &#37;
               p Baja = #{weather.main.temp_min} !{units}
               p Alta = #{weather.main.temp_max} !{units}